
body{
    background-color: black;
}
h1{
    color:darkmagenta;
    text-align: center;
    text-decoration: underline;

}
div{
    color:red;
    float:left;
    width:30%;
    height: 500px;
}
.first{
    background:white;

}
img{
    width:100%;
}
.second{
    background:burlywood;
    img{
        width=50%;
    }
}
 .third{
     background: chartreuse;
 }   